@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(80.18deg, rgba(3, 0, 125, 0.98) 0%, rgba(0, 93, 180, 0.98) 100%),
        url(../images/imagesStore.png) no-repeat;
}

.container_lout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.heading {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 147px;
}

.heading_logo {
    width: 136px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.head_icon i {
    display: none;
    margin-right: 30px;
    color: #FFFFFF;
    font-size: 24px;
}

.head_icon i:hover {
    color: #009ef7;
}



.heading_content-main {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.item {

    border-radius: 12px;
}

.body_content {
    display: grid;
    grid-template-columns: 230px 230px 300px;
    grid-template-rows: 200px 200px 0px;
    margin-top: 60px;
    margin-left: 100px;
    grid-gap: 20px;
}

.content_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F9666E;
}

.content_1 img {
    padding-bottom: 20px;
}

.content_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #35D29A;
}

.content_2 img {
    padding-bottom: 20px;
}

.content_3 {
    display: flex;
    flex-direction: column;
    padding: 26px;
    background: #A838FF;
}

.item.content_3 {
    grid-column: 3/3;
    grid-row: 1/3;
}

.text_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF
}

.text_content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #EED8FF;
}


.text_tool {
    margin: 0 40px;
}

.content_4 {
    grid-column: 1/3;
}

.prj-text {
    color: #FFFFFF
}

.text_1 {
    display: flex;
    gap: 10px;
    padding-bottom: 4px;
}

.btn_learn-cl {
    display: flex;
    justify-content: flex-start;
}

.btn-learn {
    margin: 14px 40px;
    padding: 6px;
    background: #B75CFF;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    outline: none;
}

.learn_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30px;
}

.content_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #D5D83D;

}



.shopping_images img {
    height: 198px;
}

.shopping_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_guide {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #3F4254;
}

.guide_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #3F4254;
}

.btn_shopping {
    padding: 6px;
    background: #EBEE51;
    border-radius: 6px;
    border: none;
    outline: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #5E6278;
}

.container_right {
    width: 425px;
    position: fixed;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    left: 65%;
    top: 50px;
    right: 50px;
    bottom: 50px;
    background-color: rgba(19,0,97,.3);
    border-radius: 1.75rem;
    background: #130061;
    opacity: 0.7;
    padding: 0px 30px;
    border-radius: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.footer_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #869FCC;
}


/* table */

.border_img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    background: rgba(239, 242, 245, 0.2);
    justify-content: center;
    align-items: center;
}

.table_text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 50px 0;
}

.border-update::before {
    content: " ";
    width: 2px;
    margin-top: 35px;
    position: absolute;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px dashed #FFFFFF;

}

.icon-Trend {
    width: 20px;
    height: 20px;
    background: #B5B5C3;
    text-align: center;
    color: #7E8299;
    opacity: 0.5;
    border-radius: 5px;
    cursor: pointer;
}

.update_scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.right_Update {
    width: 375px;
    height: 50px;
    padding: 18px 0 50px;
    background: #130061;
    position: fixed;
    z-index: 1000;
}

.right_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}


.status_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.status_time {
    color: rgba(181, 181, 195, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

}

.text_you {
    color: rgba(53, 210, 154, 1);
}

.status_bord {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    border: 1px rgba(255, 255, 255, 0.2) dashed;
    border-radius: 6px;
}

.update_table {

    flex-direction: column;
    margin-top: 38px;
}

.meeting_table {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FDFDFF;
}

.meeting_btn {
    padding: 8px;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FDFDFF;
    line-height: 14px;
    text-align: center;
    border-radius: 6px;
}

.btn_update {
    z-index: 1000;
    width: 375px;
    height: 50px;
    bottom: 50px;
    position: fixed;
    padding: 12px 0 50px;
    background: #130061;
    
}

.update_view {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_view {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    border-radius: 6px;
    color: #FFFFFF;
    line-height: 15px;
    text-align: center;
}

/* table edit */

.table_edit {
    margin-top: -17px;
}

.icon_library::before {
    height: 107px;
}

.icon_user::before {
    height: 31px;
}

.icon_speak::before {
    height: 227px;
}

.icon_note::before {
    height: 28px;
}

.table_end {
    margin-top: -32px;
}


/* responsive */

@media screen and (max-width: 70.9375em) {

    .container_lout {
        justify-content: center;
    }


    .heading {
        padding-top: 50px;
    }


    .head_icon i {
        display: inline-block;
    }

    .container_right {
        left: 99%;
    } 


    .heading_content-main {
        display: none;
    }

    .body_content {
        grid-template-columns: 100px 223px 100px 223px;
        grid-template-rows: 242px 220px 192px 260px;
        margin-left: 0px;
    }

    .item.content_1 {
        grid-column: 1 /3;
    }

    .item.content_2 {
        grid-column: 3 /5;
    }

    .item.content_3 {
        grid-column: 1/5;
        grid-row: 1/3;
    }

    .item.content_4 {
        grid-column: 1/5;
    }

    .text_tool {

        margin: 20px 243px;

    }

    .btn_learn-cl {
        justify-content: center;
    }

    .btn-learn {
        padding: 8px 36px;
    }

    .learn_img {
        width: 100%;
    }

    .learn_img img {
        width: 36%;
    }

    .footer{
        margin-top: 300px;
        padding-bottom: 20px;
    }

    .content_4 {
        justify-content: flex-start;
    }

    .shopping_images img {
        width: 90%;
        margin-left: 20px;
    }
}

@media screen and (max-width: 33.759em) {
    .item.content_1 {
        grid-column: 1 / 5;
    }

    .item.content_2 {
        grid-column: 1 /5;
    }

}