@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color--primary: #2C9AFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    justify-content: space-between;
    min-width: 500px;
}

.main {
    display: flex;
    width: 100%;
}


.side_nav {
    width: 140px;
    height: 100%;
}

/* sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #FFFFFF;
    height: 100%;
    width: 140px;
}

.sidebar .logo_content .logo {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.sidebar .logo_content .logo img {
    height: 36px;
    width: 51px;
}

.side-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.side-menu .active {
    background: var(--color--primary);
}

.side-menu .item_icon {
    height: 58px;
    width: 58px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.side-menu .hide {
    background: rgba(245, 248, 250, 0.8);
}

.side-menu .item_icon:hover {
    background: var(--color--primary);
}

.exit {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}


.exit-button {
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 248, 250, 0.8);
    border-radius: 22px;
    margin-top: 150px;
}


.exit-button:hover {
    background: var(--color--primary);
}

.btn_menu {
    display: none;
}
/*   ----------------  */
.item_icons {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.heading {
    width: 100%;
    background: #2C294B;
}

.heading-container {
    display: flex;
    height: 200px;
    flex-direction: row;
    margin-top: 50px;
    padding: 0 36px;
    justify-content: space-between;
}

.title_sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    display: block;
}



.title_main {
    color: #7E8299;
}


.search_style {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.btn-newgoal {
    background: var(--color--primary);
}

.search-input {
    width: 240px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    border-radius: 12px;
    background: #403E5D;
}


.search-input input {
    width: 190px;
    height: 42px;
    background: #403E5D;
    border: none;
    outline: none;
}

.icon-primary {
    background: #403E5D;
}

.edit_btn {
    font-size: 13px;
}

.content {
    height: 100%;
    background: #D5D9E2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 36px;
}




.cart {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
}


.cats {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 160px 160px 160px;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: -80px;
}

.cart img {
    width: 50px;
    height: 50px;
}

.cart .sp-sub {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}



.content-img {
    height: 237px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    border-radius: 18px;
    background: #2C9AFF;
    margin-top: -80px;
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;

}

.img-working {
    width: 90%;
    border-radius: 18px;
    background: var(--color--primary);
}



.content-cart {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.content_title {
    width: 50%;
    height: 237px;
    padding-left: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-working span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.working {
    position: absolute;
}

.working-grid {
    width: 100%;
}

.working-paradigm {
    margin-top: 30px;
    width: 100%;
    height: 427px;
}

.trends-content {
    display: flex;
    justify-content: space-between;
}

.trends-grid {
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    border-radius: 18px;
    background: #FFFFFF;
    padding: 23px 30px;
}

.icon-Trend {
    width: 20px;
    height: 20px;
    background: #B5B5C3;
    text-align: center;
    color: #7E8299;
    opacity: 0.3;
    border-radius: 5px;
    cursor: pointer;
}

.vector {
    width: 100%;
}

.vector-img {
    margin-top: 40px;
}

.top-par {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.par {
    display: flex;
    flex-direction: row
}

.icons_top {
    width: 50px;
    height: 50px;
    background: #F3F6F9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons_top i {
    font-size: 30px;
    color: red;
}

.trends-price {
    padding: 5px 4px;
    background: #F3F6F9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trends-price .price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #7E8299;
}

/*trends font*/

.trends-title {
    font-family: 'Poppins';
    font-style: normal;
    margin-left: 15px;
}

.trends-title .trends-title_main {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #3F4254;
}

.trends-title .trends-title_sub {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
}

.trends {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* properties */

.properties {
    width: 100%;
    margin-top: 24px;
}

.properties_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.properties_images img {
    width: 60px;
    height: 51px;
    border-radius: 6px;
    background-size: cover;
}

.properties_text .properties_text-main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #3F4254;
}

.properties_text .properties_text-sub {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
}

.properties_icon {
    width: 26px;
    height: 26px;
    background: #F3F6F9;
    border-radius: 6px;
    text-align: center;
}


.grid_left {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
}

/*Activities */

.activities {
    width: 86%;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    border-radius: 18px;
    background: #FFFFFF;
    margin-top: 30px;
    padding: 23px 30px;
}

.activities-table {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.activities-title {
    padding: 10px;
}

.activities-title_main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #3F4254;
}

.activities-title_sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    color: #B5B5C3;

}



.activities-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    gap: 20px;
    justify-content: flex-start;
}

.border-table {
    width: 11px;
    height: 11px;
    margin-top: 5px;
    margin-left: -13px;
    border-radius: 50%;
    position: absolute;
}

.content_main {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7E8299;
}

.text-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #3F4254;
}

.text-green {
    color: #50CD89;
}


.content_time {
    width: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #3F4254;
}

.border_left {
    width: 1px;
    height: 270px;
    position: absolute;
    border: 1px solid bisque;
    margin-left: 47px;
}



.border-brown {
    border: 3px solid#663259;
}

.border-brown::before {
    content: " ";
    width: 1px;
    border: 2px solid #E5EAEE;
    min-height: 40px;
    position: absolute;
    background: #E5EAEE;
    border-radius: 8px;
    left: 1px;
    top: 10px;

}

.border-green {
    border: 3px solid #50CD89;
}

.border-green::before {
    content: " ";
    width: 1px;
    border: 2px solid #E5EAEE;
    min-height: 32px;
    position: absolute;
    background: #E5EAEE;
    border-radius: 8px;
    left: 1px;
    top: 9px;

}

.border-red {
    border: 3px solid #F64E60;
}

.border-red::before {
    content: " ";
    width: 1px;
    border: 2px solid #E5EAEE;
    min-height: 24px;
    position: absolute;
    background: #E5EAEE;
    border-radius: 8px;
    left: 1px;
    top: 9px;

}

.border-blue {
    border: 3px solid #3699FF;
}

.border-blue::before {
    content: " ";
    width: 1px;
    border: 2px solid #E5EAEE;
    min-height: 55px;
    position: absolute;
    background: #E5EAEE;
    border-radius: 8px;
    left: 1px;
    top: 9px;

}

.border-orange {
    border: 3px solid #EF6327;
}

.border-orange::before {
    content: " ";
    width: 1px;
    border: 2px solid #E5EAEE;
    min-height: 24px;
    position: absolute;
    background: #E5EAEE;
    border-radius: 8px;
    left: 1px;
    top: 9px;

}

.border-violet {
    border: 3px solid #8950FC;
}

.arrivals-table {
    padding: 23px 30px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    border-radius: 18px;
    margin: 30px 0;
}

.arrivals-head {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.arrivals_date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.date_main {
    width: 53px;
    height: 34px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.date_main:hover {
    background: #3F4254;
    border-radius: 6px;
}

.arrivals_text-main {
    margin-bottom: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3F4254;
}

.arrivals_text-sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #B5B5C3;
}

.arrivals-head_sub {
    display: flex;
    gap: 12px;
}

.arrivals_border {
    width: 50px;
    height: 50px;
    background: #F3F6F9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.arrivals-add_main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #3F4254;
}

.arrivals-add_sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #3F4254;
}

.arrivals-add_sub span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
}

.arrivals_ads {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.arrivals_price_main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #3F4254;
}

.arrivals_price-sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
}

.arrivals_price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.arrivals_alert {
    width: 86px;
    height: 26px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.arrivals-btn {
    width: 32px;
    height: 32px;
    background: #F3F6F9;
    border-radius: 6px;
}

.arrivals_edit {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 10px;
    justify-content: center;
}

.arrivals-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert_violet {
    background: #EEE5FF;
    color: #8950FC;
}

.alert_orange {
    background: #FFF4DE;
    color: #FFA800;
}

.alert_green {
    color: #50CD89;
    background: #E8FFF3;
}

/* Responsive */

@media screen and (max-width: 1200px) {
    .content-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .heading-search {
        left: 50%;
    }

    .cart_primary {
        width: 100%;
    }

    .heading-container {
        margin-top: 20px;
        padding: 0 30px;
    }

    .activities {
        width: 95%;
        padding: 0 18px 19px;
        margin-left: 23px;
    }

    .cats {
        padding: 0 18px;
        grid-template-columns: 48% 48%;
    }

    .content {
        padding: 0 10px;
    }

    .content-img {
        width: 100%;
        margin-top: 30px;
    }

    .working-grid {
        width: 100%;
        padding: 0 20px;
    }

    .trends {
        width: 100%;
        flex-direction: column;
    }

    .trends-grid {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .heading-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .heading-search {
        top: 60px;
        left: 193px;
    }


    .cart_primary {
        width: 89%;
        display: flex;
        flex-direction: column;
    }

    .activities {
        width: 95%;
    }

    .content-img {
        margin-top: 24px;
    }

    .cats {
        padding: 0 18px;
        grid-template-columns: 48% 48%;
    }

    .working-grid {
        width: 89%;
        padding: 0 20px;
    }

}

@media screen and (max-width: 1000px) {

    .heading {
        width: 100%;
        margin-top: 40px;
    }

    .side_nav {
        width: 0px;
    }

    .sidebar {
        width: 100%;
        height: 50px;
    }

    .side-menu {
        display: none;
    }


    .exit{
        display: none;
    }

    .btn_menu{
        display: inline-block;
        padding: 10px;
        font-size: 24px;
    }

    .logo_content {
        display: inline;
        display: flex;
        flex-direction: row;
    }

    .item-icons {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .sidebar .logo_content .logo {
        justify-content: space-between;
        margin-top: 5px;
    }

    .search_style {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    section.heading-menu {
        min-height: 250px;
    }

    .arrivals_ads {
        gap: 30px;
    }

    .arrivals_over {
        overflow: auto;
    }
}