@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(80.18deg, rgba(3, 0, 125, 0.98) 0%, rgba(0, 93, 180, 0.98) 100%),
        url(../images/imagesStore.png) no-repeat;
    background-size: cover;
}

.container_lout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading {
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 147px;
}

.heading_logo {
    width: 136px;
    height: 92px;
    text-align: center;
}

.heading_content-main {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.item {

    border-radius: 12px;
}

.body_content {
    display: grid;
    grid-template-columns: 230px 230px 300px;
    grid-template-rows: 200px 200px 440px;
    margin-top: 60px;
    grid-gap: 20px;
}

.content_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F9666E;
}

.content_1 img {
    padding-bottom: 20px;
}

.content_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #35D29A;
}

.content_2 img {
    padding-bottom: 20px;
}

.content_3 {
    height: 422px;
    display: flex;
    flex-direction: column;
    padding: 26px;
    background: #A838FF;
}

.text_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF
}

.text_content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #EED8FF;
}


.text_tool {
    margin: 0 40px;
}

.content_4 {
    grid-column: 1/3;
}

.prj-text {
    color: #FFFFFF
}

.text_1 {
    display: flex;
    gap: 10px;
    padding-bottom: 4px;
}

.btn_learn-cl {
    display: flex;
    justify-content: flex-start;
}

.btn-learn {
    margin: 14px 40px;
    padding: 6px;
    background: #B75CFF;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    outline: none;
}

.learn_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30px;
}

.content_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #D5D83D;

}



.shopping_images img {
    height: 198px;
}

.shopping_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_guide {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #3F4254;
}

.guide_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #3F4254;
}

.btn_shopping {
    padding: 6px;
    background: #EBEE51;
    border-radius: 6px;
    border: none;
    outline: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #5E6278;
}

.container_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 1100px;
    margin: 50px;
    background: #130061;
    opacity: 0.7;
    padding: 38px 30px;
    border-radius: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    gap: 20px;
}

.footer_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #869FCC;
}


/* table */

.border_img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    background: rgba(239, 242, 245, 0.2);
    justify-content: center;
    align-items: center;
}
.table_text{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.border-update::before {
    content: " ";
    width: 2px;
    margin-top: 35px;
    position: absolute;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px dashed #FFFFFF;

}

.icon-Trend {
    width: 20px;
    height: 20px;
    background: #B5B5C3;
    text-align: center;
    color: #7E8299;
    opacity: 0.5;
    border-radius: 5px;
    cursor: pointer;
}

.right_Update {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}


.status_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.status_time {
    color: rgba(181, 181, 195, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

}

.text_you {
    color: rgba(53, 210, 154, 1);
}

.status_bord {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 6px;
}
.update_table {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
}

.meeting_table {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FDFDFF;
}

.meeting_btn {
    padding: 8px;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FDFDFF;
    line-height: 14px;
    text-align: center;
    border-radius: 6px;
}

.btn_update {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.btn_view {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    border-radius: 6px;
    color: #FFFFFF;
    line-height: 15px;
    text-align: center;
}

/* table edit */

.table_edit {
    margin-top: 37px;
}

.icon_library::before {
    height: 107px;
}

.icon_user::before {
    height: 31px;
}

.icon_speak::before{
    height: 174px;
}

.icon_note::before {
    height: 28px;
}

.table_end {
    margin-top: 20px;
}